.auth {
  width: 100%;
  max-width: var(--max-width);
}

.container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 550px;
}

.banner {
  background: var(--bg1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
}

.logo {
  position: relative;
  width: 100%;
  height: 300px;
}

.validate {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  overflow-y: scroll;
}

.validate > form {
  width: 60%;
  padding: 0 4rem 4rem;
}

.validate > form > h2 {
  font-size: 3rem;
  color: var(--info);
  margin-bottom: 4rem;
}
