.menu {
  position: absolute;
  top: 0;
  right: -400px;
  height: 100vh;
  width: 60%;
  max-width: 400px;
  background-color: var(--bg1);
  transition: all 200ms ease;
  box-shadow: var(--shadow);
  overflow-y: scroll;
}

.menu.active {
  right: 0;
}

.closeBtn {
  border: none;
  background-color: transparent;
  transition: var(--transition);
  margin-top: 2rem;
  margin-left: 1rem;
  color: var(--info);
}

.closeBtn:hover {
  transform: rotate(90deg);
}

.menuContainer {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}

.profileDetails {
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr 3fr;
}

.profileImage {
  height: 100%;
  display: grid;
  place-items: center;
}

.profileImage > span {
  border-radius: 50%;
}

.profileText {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: flex-start;
}

.profileText > h4 {
  line-height: 1;
  margin: 0;
}

.profileText > button {
  background-color: transparent;
  border: none;
  color: var(--info);
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profileText > button::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--info);
  transition: var(--transition);
}

.profileText > button:hover::after {
  width: 100%;
}

.menuItems {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item {
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
  transition: var(--transition);
}

.item:is(:hover, :focus) {
  transform: translateX(6px);
}

.icon {
  display: grid;
  place-items: center;
  padding: 8px;
  border-radius: 4px;
  font-size: 1.8rem;
  color: var(--light);
}

.menuItemTitle {
  color: var(--text2);
  font-weight: 500;
}

.icon[data-name="home"] {
  background-color: var(--info);
}

.icon[data-name="search"] {
  background-color: var(--success);
}

.icon[data-name="track"] {
  background-color: var(--brown);
}
