.listed {
  width: 100%;
  max-width: var(--max-width);
  margin: 5rem 0;
}

.wrapper {
  width: 90%;
  margin: 0 auto 5rem;
}

.container {
  max-height: 460px;
  margin: 0 auto;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--bg3);
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--text4);
}

.container::-webkit-scrollbar-corner {
  background-color: var(--bg3);
}

.column {
  width: 100%;
  min-width: max-content;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  margin-bottom: 2rem;
}

.heading > button {
  border: none;
  background-color: transparent;
  color: var(--info);
}

.heading > h2 > span {
  color: var(--info);
}

.colorIcon {
  padding: 0.5rem;
  margin-right: 1rem;
}

.colorIcon[data-name="listedProducts"] {
  background-color: var(--info);
}

.colorIcon[data-name="pendingOrders"] {
  background-color: var(--warning);
}

.colorIcon[data-name="processingOrders"] {
  background-color: var(--violet);
}

.colorIcon[data-name="completedOrders"] {
  background-color: var(--success);
}

.pageTitle {
  width: 90%;
  margin: 0 auto;
  padding: 5rem 0;
}
